ICP 1 by August Cross (700720300)

In [ ]:
# Question 5a: input user string; remove two characters and reverse input

# Initialize input
user_input = input("Please enter a string: ")

# Identify input
# print(type(user_input))

# Chop input
input_len = len(user_input)
mod_user_input = user_input[:(input_len - 2)]

# Print input
print(mod_user_input)
print(mod_user_input[::-1])

# Question 5b: Use arithmatic with user input numbers

# Initialize input
user_input_1 = input("Please enter a number: ")
user_input_2 = input("Please enter a number: ")

print(int(user_input_1) + int(user_input_2))
print(int(user_input_1) - int(user_input_2))
print(int(user_input_1) * int(user_input_2))
print(int(user_input_1) / int(user_input_2))

Please enter a string: python
pyth
htyp
Please enter a number: 1
Please enter a number: 2
3
-1
2
0.5

In [ ]:
# Question 6: Intake a string, replace each instance of "python" into "pythons"

user_input = input("Please enter a string: ")
print(user_input.replace("python", "pythons"))

Please enter a string: I love python, python is so great
I love pythons, pythons is so great

In [ ]:
# Question 7: Input user grade- print what letter grade it is (based on syllabus class structure)

user_input = input("Please enter a number grade: ")

if float(user_input) >= 90.0:
    print("User grade: A")
elif float(user_input) >= 80.0:
    print("User grade: B")
elif float(user_input) >= 70.0:
    print("User grade: C")
elif float(user_input) >= 60.0:
    print("User grade: D")
else:
    print("User grade: F")

Please enter a number grade: 89.5
User grade: B

In [ ]:
# Question 8: Write a code that appends the type of elements from a given list

input_list = [23, 23.5, "hello", True, [1, 2, 3], 'a', {"Bananas", "Tomatos", "Eggs"}]
input_type = []

for i in input_list:
    input_type.append(type(i))

print(input_type)

[<class 'int'>, <class 'float'>, <class 'str'>, <class 'bool'>, <class 'list'>, <class 'str'>, <class 'set'>]

In [ ]:
# Question 9: Modify lists via assortment of modifications

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set IT_companies

print("Length of IT_companies",len(IT_companies))

# Add 'Twitter' to IT_companies

IT_companies.add('Twitter')
print("IT_companies after adding 'Twitter': ",IT_companies)
print("Length of IT_companies",len(IT_companies))

# Insert multiple IT companies at once to the set IT_companies

IT_companies.update({'Meta', 'X', 'Atari'})
print("IT_companies after adding 'Meta', 'X', and 'Atari': ",IT_companies)
print("Length of IT_companies",len(IT_companies))

# Remove one of the companies from the set IT_companies

IT_companies.remove('Twitter')
print("IT_companies after removing 'Twitter': ",IT_companies)
print("Length of IT_companies",len(IT_companies))

# What is the difference between remove and discard

# Remove works to specifically discard a certain element that is predetermined. If it's not there, it will raise an error. Discard will not do that.

# Join A and B

C = A.union(B)
print("Union of A and B: ",C)

# Find A intersection B

D = A.intersection(B)
print("Intersection of A and B",D)

# Is A subset of B

# Yes. For a set to be a subset of another, it must comprise completely of elements in the set it is "sub" to. We can even use the 'issubset' function to tell
print("Is A subset of B? ",A.issubset(B))

# Are A and B disjoint sets

# No. For a set to be a disjoint set of another, it must have no identical elements. Since A is a subset of B, this is impossible. We can even use the 'isdisjoint' function to tell
print("Are A and B disjoint sets? ",A.isdisjoint(B))

# Join A with B and B with A

E = A.union(B)
F = B.union(A)
print("Join A with B: ",E)
print("Join B with A: ",F)

# What is the symmetric difference between A and B

print("Symmetric difference between A and B: ",A.symmetric_difference(B))

# Delete the sets completely

A.clear()
B.clear()
C.clear()
D.clear()
E.clear()
F.clear()

# Convert the ages to a set and compare the length of the list and the set.

print("The length of the age list is: ",len(age),". The length of the age set is: ",len(set(age)),".")

Length of IT_companies 7
IT_companies after adding 'Twitter':  {'Facebook', 'Amazon', 'Twitter', 'Apple', 'Google', 'IBM', 'Oracle', 'Microsoft'}
Length of IT_companies 8
IT_companies after adding 'Meta', 'X', and 'Atari':  {'Twitter', 'Google', 'Microsoft', 'Facebook', 'Meta', 'Amazon', 'Atari', 'Apple', 'IBM', 'X', 'Oracle'}
Length of IT_companies 11
IT_companies after removing 'Twitter':  {'Google', 'Microsoft', 'Facebook', 'Meta', 'Amazon', 'Atari', 'Apple', 'IBM', 'X', 'Oracle'}
Length of IT_companies 10
Union of A and B:  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B {19, 20, 22, 24, 25, 26}
Is A subset of B?  True
Are A and B disjoint sets?  False
Join A with B:  {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A:  {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B:  {27, 28}
set()
set()
set()
set()
set()
set()
The length of the age list is:  8 . The length of the age set is:  5 .